<div *ngIf="destinations" class="container search-container">
    <mat-card appearance="outlined" class="search-card">
        <mat-card-content>
            <h1>Search for your destination</h1>
            <form class="search-form">
                <mat-form-field class="search-field">
                    <mat-label>Choose destination</mat-label>
                    <mat-select [(value)]="defaultDestination">
                        <mat-option [value]="dest" *ngFor="let dest of destinations">{{dest}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="search-field">
                    <mat-label>Choose airline</mat-label>
                    <mat-select [(value)]="defaultAirline">
                        <mat-option [value]="airlines" *ngFor="let airline of airlines">{{airline}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="search-field">
                    <mat-label>Choose class</mat-label>
                    <mat-select [(value)]="defaultFlightClass">
                        <mat-option [value]="cls" *ngFor="let cls of flightClass">{{cls}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="search-field">
                    <mat-label>Return</mat-label>
                    <mat-select [(value)]="defaultReturn">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/search?destination='+defaultDestination+'&ariline='+defaultAirline]">
                <i class="fa-solid fa-search"></i> Search now
            </a>
        </mat-card-actions>
    </mat-card>
</div>