/* .flight-wrapper{
    width: 80%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}

.custom-row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.flight-data-card {
    width: 100%;
} */

.flight-wrapper{
    width: 80%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}

.flight-card {
    width: 49%;
    height: 650px;
}

.flight-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
}

.flight-map {
    margin: auto;
    width: 100% !important;
    height: 100% !important;
}